if TARGET_EM310

config SYS_BOARD
	default "em310"

config SYS_VENDOR
	default "tqs"

config SYS_SOC
	default "mxs"

config SYS_CONFIG_NAME
	default "em310"

config SYS_MXS_VDD5V_ONLY
	def_bool y

config SPL_MXS_NO_DCDC_BATT_SOURCE
	def_bool y

endif
