// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Copyright (c) 2023 - 2024 TQ-Systems GmbH <u-boot@ew.tq-group.com>,
 * D-82229 Seefeld, Germany.
 * Author: Michael Krummsdorf
 */

#include "imx28-u-boot.dtsi"

/ {
	aliases {
		/delete-property/ ethernet1;
		/delete-property/ mdio-gpio0;
	};

	leds {
		led-gn-1 {
			default-state = "on";
		};

		led-rd-1 {
			default-state = "on";
		};
	};

	/delete-node/ mdio;
};

&i2c0 {
	/* No i2c-mxs driver in U-Boot, use i2c-gpio */
	compatible = "i2c-gpio";
	pinctrl-0 = <&i2c0_pins_c>;
	sda-gpios = <&gpio3 25 GPIO_ACTIVE_HIGH>;
	scl-gpios = <&gpio3 24 GPIO_ACTIVE_HIGH>;
};

&mac0 {
	pinctrl-0 = <&mac0_pins_c>,
		    <&mac0_smi_pins_a>,
		    <&mac0_enet_reset>;
	/* U-Boot network as fixed-link, use generic reset */
	phy-reset-gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
	phy-reset-duration = <10>;
	phy-reset-post-delay = <100>;
	phy-supply = <&reg_3p3v>;
};

&pinctrl {
	i2c0_pins_c: i2c0@2 {
		reg = <2>;
		fsl,pinmux-ids = <
			MX28_PAD_I2C0_SCL__GPIO_3_24
			MX28_PAD_I2C0_SDA__GPIO_3_25
		>;
		fsl,drive-strength = <MXS_DRIVE_8mA>;
		fsl,voltage = <MXS_VOLTAGE_HIGH>;
		fsl,pull-up = <MXS_PULL_DISABLE>;
	};
};
